body {
  font-family: "Goudy Old Style",serif;
  margin: 0; 
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 8%;
}

h2 {
  color: white;
  text-align: center
}

p {
  color: white;
  font-size: 20px;
  letter-spacing: .1em;
  margin: 20px 160px 40px 160px;
}

nav.visible {
  padding-top:1%;
  width: 900px;
  position: fixed;
  right: -25%;
  float:right;
  overflow: hidden;
  z-index: 10;
}

nav a{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 18px;
  color: #ffffff;
  margin:0px;
  text-decoration: none;
}

.left {
  padding-top:0%;
  position: fixed;
  left: 0%;
  margin: 0px;
  overflow: hidden;
  z-index: 10;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.topbar{
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(105,0,32,.6);
  top: 0%;
  z-index: 10;
}

.boxed {
  width: 1100px;
  margin: 5% 15%;
}

.about {
  overflow: hidden;
  background-color: rgba(105,0,32,.9);
}

.map{
  margin: 20px 160px 40px 160px;
  max-width:750px;
}

.todo{
  height: 175px;
  float:left;
  margin: 0px 40px 40px 160px;
}

.pets {
  height: 175px;
  float:right;
  margin: 0px 160px 40px 40px;
}

.move{
  margin: 90px 160px 40px 160px;
}

.footer {
  height: 200px;
  overflow: hidden;
  background-color: rgba(105,0,32,.6);
}

.footer img{
  max-height: 200px;
  float: left;
  margin: 0px -600px 0px 600px;
}

.footer p {
  color: white;
  margin:auto;
  text-align: center;
  top:40%;
  position: relative;
}