body {
  font-family: "Goudy Old Style",serif;
  margin: 0; 
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 8%;
}

h2 {
  color: white;
  text-align: center
}

p {
  color: white;
  font-size: 20px;
  letter-spacing: .1em;
  margin: 20px 160px 40px 160px;
}

nav.visible {
  padding-top:1%;
  width: 900px;
  position: fixed;
  right: -25%;
  float:right;
  overflow: hidden;
  z-index: 10;
}

nav a{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 18px;
  color: #ffffff;
  margin:0px;
  text-decoration: none;
}

.left {
  padding-top:0%;
  position: fixed;
  left: 0%;
  margin: 0px;
  overflow: hidden;
  z-index: 10;
}

.left a{
  font-weight: bold;
  text-decoration: underline;
}

.topbar{
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(105,0,32,.6);
  top: 0%;
  z-index: 10;
}

.head { 
  background: url("../img/background.jpg") no-repeat center center;
  height: 900px;
  background-size: cover;
  overflow: hidden;
}

.vendors {
  height: 100px;
  overflow: hidden;
  background-color: rgba(105,0,32,.7);
}

.sponsors {
  height: 300px;
  background-color: rgba(105,0,32,.3);
}

.sponsors img{
  margin-left: 10%;
  margin-right: 10%;
  padding: 4%;
}

.footer {
  height: 200px;
  overflow: hidden;
  background-color: rgba(105,0,32,.6);
}

.footer img{
  max-height: 200px;
  float: left;
  margin: 0px -600px 0px 600px;
}

.footer p {
  color: white;
  margin:auto;
  text-align: center;
  top:40%;
  position: relative;
}
